.container
  .row
    .col-sm-2.col-md-2.text-right
      %button.btn.btn-cs{type: "button", 'data-toggle' => 'modal', 'data-target' => '#new_note'} Crear Nota
      /= render 'modal_form', note: @note
    .col-sm-8.col-md-8
      .container.h-100
        .d-flex.justify-content-center.h-100
          .searchbar
            %input.search_input{:name => "", :placeholder => "Buscar...", :type => "text"}/
            %a.search_icon{:href => "#"}
              %i.fas.fa-search
    .col-sm-1.col-md-1.text-left
      .dropdown
        %button#dropdownMenu2.btn.btn-cs.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %i.fas.fa-globe-americas.fa-cs
          %span.caret
        .dropdown-menu{"aria-labelledby" => "dropdownMenu2"}
          %button.dropdown-item.text-center{:type => "button"} Español
          %button.dropdown-item.text-center{:type => "button"} English

.container.padding
  .row.border
    .col-sm-12.col-md-12
      .row
        - @notes.each do |note|
          .col-sm-4.col-md-3
            .card
              .card-body
                %h5.card-title
                  = note.title
                %p.card-text
                  = note.content
                .row
                  .col-sm-6
                    .text-left
                      = link_to 'Eliminar', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-per'
                  .col-sm-6
                    .text-right
                      .btn.btn-primary.btn-per
                        Edit
