// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 575px)",
  'sm': "(min-width: 575px) and (max-width: 767px)",
  'md': "(min-width: 768px) and (max-width: 991px)",
  'lg': "(min-width: 992px) and (max-width: 1200px)",
  'xl': "(min-width: 1200px) and (max-width: 1140px)"
) !default;

// Fonts size
$base-font-size: 14px;

// Fonts Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

//color
$green: #28a745;
$blue: 	#428bca;
$white: #f9f9f9;
$killer-whale: #23272a;
