.btn-cs {
  background-color: $soft-black;
  border-color: $soft-black;
  color: $white;
  font-size: 2rem;
  height: 40px;
  
  &:hover {
    background-color: $grey;
    border-color: $grey;
    color: $white;
  }
}

.btn-cs.dropdown-toggle {
  background-color: $grey;
}

.fa-cs {
  color: $white;
  font-size: 2.4rem;
  padding: 0px;
}

.dropdown-toggle::after {
  color: w$white;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: $grey;
}

.dropdown-menu {
  left: 35px;
  min-width: 85px;

  .dropdown-item.text-center {
    font-size: 1.6rem;
  }
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: $soft-black;
  padding: 5px;

    a:hover {
      text-decoration: none;
    }
  }

  .search_input{
  color: $white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 30px;
  font-size: 2rem;
  }

  .searchbar > .search_input{
  padding: 0 10px;
  width: 200px;
    @include respond-to(md) {
      @include transition(all .3s ease);
      width: 430px;
    }

    @include respond-to(sm) {
      @include transition(all .3s ease);
      width: 280px;
    }
  
  }

  .searchbar:hover > .search_icon{
  background: $white;
  color: $killer-whale;
  }

  .search_icon{
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:$white;
  font-size: 2rem;
  }

  .modal-dialog {
    margin: 15rem auto;
  }

  .modal-title {
    font-size: 3rem;
  }

  .form-control {
    font-size: 2rem;
    height: 4rem;
    padding: 1rem 1rem;
  }

  .modal-footer {
    .btn {
      font-size: 2rem;
    }
  }
