.btn-cs {
  background-color: $soft-black;
  border-color: $soft-black;
  color: $white;
  font-size: 2rem;
  height: 40px;
  
  &:hover {
    background-color: $grey;
    border-color: $grey;
    color: $white;
  }
}

.btn-cs.dropdown-toggle {
  background-color: $grey;
}

.fa-cs {
  color: $white;
  font-size: 2.4rem;
  padding: 0px;
}

.dropdown-toggle::after {
  color: w$white;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: $grey;
}

.dropdown-menu {
  left: 35px;
  min-width: 85px;

  .dropdown-item.text-center {
    font-size: 1.6rem;
  }
}

.modal-dialog {
  margin: 15rem auto;
}

.modal-header {
  background-color: $grey-soft;
}

.modal-body {
  background-color: $grey-soft;
}

.modal-title {
  font-size: 3rem;
}

.form-control {
  font-size: 2rem;
  height: 4rem;
  padding: 1rem 1rem;
}

.modal-footer {
  background-color: $blue;
  .btn {
    font-size: 2rem;
  }
}

.padding {
  padding-top: 50px;
}

.row.border {
  background-color: $grey-soft;
  padding: 15px 0px;
}

.height-notes {
  height: 500px;
}

.card-body {
  h5 {
    font-weight: bold;

    @include respond-to(md) {
      @include transition(all .3s ease);
      font-size: 1.9rem;
    }

    @include respond-to(sm) {
      @include transition(all .3s ease);
      font-size: 1.7rem;
    }
  }
  p {
    @include respond-to(md) {
      @include transition(all .3s ease);
      font-size: 1.7rem;
    }

    @include respond-to(sm) {
      @include transition(all .3s ease);
      font-size: 1.2rem;
    }
  }
}

.btn-per {
  @include respond-to(md) {
    @include transition(all .3s ease);
    font-size: 1.6rem;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    font-size: 1.1rem;
  }
}

.padding-not-item {
  @include transition(all .3s ease);
  height: 500px;
}

.date-modification {
  padding: 15px 0px;
  font-size: 1.3rem;
  font-style: italic;
}
